:root {
 --primary-color:blue;
 --secondary-color:orange;
 --tertiary-color:silver;
}

@font-face{
font-family:Poppins;
src:url('Poppins-Regular.ttf')
}

@font-face{
font-family:Helvetica;
src:url('Helvetica.ttf')
}

@font-face{
font-family:Lato;
src:url('Lato-Regular.ttf')
}

@font-face{
font-family:Apple;
src:url('AppleRegular.otf')
}

@font-face{
font-family:GreatVibes;
src:url('GreatVibes-Regular.ttf')
}

@font-face{
font-family:OpenSans;
src:url('OpenSans-Regular.ttf')
}

@font-face{
font-family:Adventor;
src:url('texgyreadventor-regular.otf')
}

.color-p{
color:var(--primary-color)
}

.color-s{
color:var(--secondary-color)
}

.color-t{
color:var(--tertiary-color)
}

.color-black{
color:black
}

.color-white{
color:white
}

.color-bg-p{
background-color:var(--primary-color)
}

.color-bg-s{
background-color:var(--secondary-color)
}

.color-bg-t{
background-color:var(--tertiary-color)
}

.color-bg-black{
background-color:black
}

.color-bg-white{
background-color:white
}

.font-poppins{
font-family:Poppins
}

.font-helvetica{
font-family:Helvetica
}

.font-lato{
font-family:Lato
}

.font-great{
font-family:GreatVibes
}

.font-opensans{
font-family:OpenSans
}

.font-adventor{
font-family:Adventor
}

.font-apple{
font-family:Apple
}


.sz{
font-size:16px;
}

.sz-12{
font-size:12px;
}

.sz-14{
font-size:14px;
}

.sz-16{
font-size:16px;
}

.sz-18{
font-size:18px;
}

.sz-24{
font-size:24px;
}

.sz-30{
font-size:30px;
}

.sz-36{
font-size:36px;
}

.sz-48{
font-size:48px;
}

.sz-60{
font-size:60px;
}

.sz-72{
font-size:72px;
}

.sz-sm{
font-size:12px;
}

.sz-md{
font-size:18px;
}

.sz-lg{
font-size:24px;
}

.sz-xl{
font-size:36px;
}

.sz-xs{
font-size:8px;
}

.img-background img{
width:1920px;
height:1080px;
}

.img-hero img{
width:1280px;
height:720px;
}

.img-banner img{
width:250px;
height:250px;
}

.img-blog img{
width:1200px;
height:630px;
}

.img-logo-rect img{
width:250px;
height:100px;
}

.img-logo-square img{
width:100px;
height:100px;
}

.img-icon img{
width:32px;
height:32px;
}

.img-favicon img{
width:16px;
height:16px;
}

.img-thumbnail img{
width:150px;
height:150px;
}

.img-half img{
width:50x;
height:190px;
}

.contain img{
object-fit:contain
}

.cover img{
object-fit:cover
}

.fill img{
object-fit:fill
}

.max-height-150{
max-height: 150px;
}

@media(max-width:600px){
.display-sm-none{
display:none;
}

.display-sm-show{
display:block;
}

.max-height-150{
    max-height: 350px;
  }

.img-background img{
width:100%;
height:100%;
}

.img-hero img{
width:335px;
height:502px;
}

.img-banner img{
width:335px;
height:335px;
}

.img-blog img{
width:335px;
height:190px;
}

.img-logo-rect img{
width:50px;
height:35px;
}

.img-logo-square img{
width:40px;
height:40px;
}

.img-icon img{
width:25px;
height:25px;
}

.img-favicon img{
width:16px;
height:16px;
}

.img-thumbnail img{
width:150px;
height:150px;
}
}

@media(min-width:600px){
.display-md-none{
display:none;
}

.display-md-show{
display:block;
}
}