{%extends 'base.html'%}

{%block content%}
<p class='meize pcolor padd' style='font-size:14px'>
	{%if file.parent%}
		<a class='normal pcolor' href='{{file.parent.get_absolute_url}}' >{{file.parent.name}}</a>
	{%endif%}
		<i class='fas fa-folder-open'></i> <b>{{file.name|title|truncatechars:'14'}}</b> <span class='desize black' style='float:right'> <span class='passive'> owned by </span> <img class='avaar circle' src={{file.owner.profile_photo.url}} style='height:10px,width:10px;border:black' >  {{file.owner.user.username|title|truncatechars:'5'}} </span> 
		<div class='passive desize cage padd bbclor black'> {{originalFile.count}} files | {{file.child_folder.count}} folders</div></p>
	
<hr>
<div>
	{%for folder in file.child_folder.all %}
	<div class='mesize box'>
		<a class='pdd black ' style='color: white' href={{folder.get_absolute_url}} >
	<i class='fas fa-folder'></i>  {{folder.name|title}}  </a>
	{%if folder.owner == prof %}
	<span style='display:inline-block;float:right;padding:4px'>
	<a class='padd mesize' style='margin: 10px;background-color:ed;color:red;' href="{%url 'FolderDeleteUrl' folder.id%}" > Delete </a>
	</span>
{%endif%}
	</div>
	<hr>
	{%endfor%}

</div>


<div id='holder'>
<p style='padding-top:0px'>
{%include 'FshareTemplate/file.html'%}
</p>
</div>

<br>
<br>

{%if file.owner == prof %}
<div class='flex-wrap' style='gap:20px;line-height:15px'>
<button onclick="$('#create').toggleClass('show')" class='button'> New File </button>

<button class='button' onclick="$('#newfile').toggleClass('show')" >Upload Files</button> 

<button class='button' onclick="$('#newfolder').toggleClass('show')" >Create Folder </button>
</div>
{%endif%}
<p>
<form id='create' class='hide' method='post' action="{%url 'CreateUrl' %}" > 
	{%csrf_token%}
	<input name='folderid' value={{file.id}} class='input' type='hidden'>
	<input name='filename' required placeholder='name' class='input' >
	<button class='button bbcolor'> Create </button>
</form>
</p>


<p>

<form method='POST' enctype="multipart/form-data" id='newfile' class='hide' action="{%url 'FileFormUrl' %}">
<input type='hidden' name='folder' class='input' value={{file.id}} >
{%csrf_token%}
{{fileForm.as_p}}

<button class='button bbcolor'>Submit</button>
</form>
</p>

<div id='newfolder' class='hide' style=''>
	{% include 'FshareTemplate/folderform.html' %}
</div>
<script type="text/javascript">

$(document).ready(function(){
$('#fle').attr({'webkitdirectory':false,'directory':false});
$('#fle').removeAttr('webkitdirectory');
$('#fle').removeAttr('directory')
}
)


</script>
{%endblock%}

<form method='POST'>
	{%csrf_token%}
<p><textarea style='font-size:16px;border: 2px solid black;width:100%;height:100%' name='word'>{{file.openFile}}</textarea></p>

<button>submit</button>
</form>


<form method='POST'>

	{%csrf_token%}
	<p class='desize'>Local Path Directory<i>
<input name='path' value={{file.local_path}} style='width:80%'></i> <button class='normal' style='color:blue'> Change </button></p>
</form>