 
{%extends 'base.html'%}

{%load static%}

{%block content%}

<style>
	.ad{
	padding:0px;
	heght:0.5cm;
	pading:3px;
	border-radius:0px;
	}

	h5{
	text-align:left
	}

	.allimage img{
	width:3.5cm;
	height:4.8cm;
	object-fit:contain;
	padding:4px;
	}

	.colo{
	display:inline-block;
	padding:5px;
	background-colr:34282C;
	}
	.myimage{
		width: 200px;
		height: 200px;
	}
</style>

<div class='box'>
	<div id='' class='content polor bod white' style=''>
		<p>
			<div class='center-image'>
				<img class='myimage circle' loading='lazy' height='...' width='...'  alt='Awwal Image' style='border:none'src="{%static 'image/awwal.png'%}">
			</div>
		</p>
		<br>
		<div>
			<div class='write pcoor'> Hi, I am Awwal</div>
			<div class='scolor medium'> Programmer and Graphics Designer</div> 
			<p class='desc' style='max-idth:15cm'>
				I  am a creative-driven Full-Stack developer who is passionate about developing user-friendly web and software applications. 
				Excellent problem-solving skills and ability to perform well in a team. Seeking to help people develop their product as a software engineer, as well to grow and develop my own skills as a coder. 
			</p>
		</div>

		<p>
			<div class='scolor center handdown shae' style='font-size:15px'><i class='fas fa-hand-point-down'></i>
				Scroll Down
			</div>
		</p>

	</div>

	<hr class='desk'>

	<br>
	<div id='holder'>

	</div>


	{%if page_count%}
	<div class='' hx-get="?page={{page_count}}" hx-trigger='revealed' hx-swap='beforeend' hx-target='#holder'> 
	</div>
	{%endif%}

	
	
	
	<br>

	<div class='center'>
	<a href="{%url 'portfolio'%}" class='scolor ceter insize' style='text-align:center'>Visit My Portfolio</a>
	</div>

	<br>
	</div>
	<hr>
	<p class='mesize center'> You can also visit My Blog <a href="{%url 'Posts'%}" >here</a></p>
	<br>

	<div class='box-border border-desk center bb' style='background-color:#34282C;color:white;box-shadow:none;text-ali'>

	Do you have any questions or require my service you can called this number
	{%for comp in company%}
	<span class='scolor'> {{comp.contact}}</span>
	{%endfor%}

	or email <span class='scolor'>awwalmustapha13@gmail.com </span>





	</div>
	</div>
	<br>
</div>
<script>
function inView(elem){
return $(elem).offset().top - $(window).scrollTop() < $(elem).height()
}

function add(){
$('.ani').addClass('increase')
}

$(window).scroll(add)
function time(){
$('#result').fadeOut()
}

setInterval(time,8000)
</script>

{%endblock%}

<div style='width:100%;height:0.08cm;background-color:#C0C0C0'></div>
