<h5 class='color ceter pi bold' style='color:white;text-align:left;bold'>Skills and Technologies</h5>


	<div class='box-brder brder-desk bb' style='background-color:black;color:white;box-shadow:none;'>


	<div class='circle ad ' style='background-color:d7d7d7;'>
	<div class='circle ad nfp ani' style='background-color:orange;width:95%;border-radius:0px'>
	<span class='colo bold'> <i class='fab fa-python' style=''></i> Python</span>
	</div>
	</div>
	<p>


	<div class='circle ad' style='background-color:d7d7d7;'>
	<div class='circle ad np ani' style='background-color:orange;width:90%'>
	<span class='colo bold'> <i class='fab fa-dev' style=''></i> Django</span>
	</div>
	</div>
	</p>

	<p>


	<div class='circle ad ' style='background-color:d7d7d7;'>
	<div class='circle ad sep ani' style='background-color:orange;width:70%;'>
	<span class='colo bold'> <i class='fab fa-js' style=''></i> Javascript</span>
	</div>
	</div>
	</p>

	<p>


	<div class='circle ad' style='background-color:d7d7d7;'>
	<div class='circle ad sp ani' style='background-color:orange;width:60%;'>
	<span class='colo bold'> <i class='fab fa-react' style=''></i> React</span>
	</div>
	</div>
	</p>

	<p>


	<div class='circle ad' style='background-color:d7d7d7;'>
	<div class='circle ad ep ani' style='background-color:orange;width:80%;'>
	<span class='colo bold'> <i class='fab fa-css3' style=''></i> CSS</span>
	</div>
	</div>
	</p>


	<p>


	<div class='circle ad' style='background-color:d7d7d7;'>
	<div class='circle ad np ani' style='background-color:orange;width:90%;'>
	<span class='colo bold'> <i class='fab fa-html5' style=''></i> HTML</span>
	</div>
	</div>
	</p>

	</div>
	{%if page_count%}
	<div class='' hx-get="?page={{page_count}}" hx-trigger='revealed' hx-swap='beforeend' hx-target='#holder'> 
	</div>
	{%endif%}