{%extends 'base.html'%}


{%block content%}



<h2 class="sz-30 color-p my-2"> About File Titan </h2>

<p>Welcome to File Titan – Your Ultimate Online File Management Solution! </p>

<br />

<h2 class="sz-24 my-2"> Our Mission </h2>

<p>At File Titan, we believe in simplifying the way you manage, create, edit, and share your files. Our mission is to provide a seamless and intuitive platform that empowers users to take control of their digital content effortlessly.
</p>

<br />

<h2 class="sz-24 my-2"> What Sets Us Apart </h2>

<div class="sz-18 mb-2 bold">User-Friendly Interface </div>

<p>File Titan boasts a user-friendly interface designed with you in mind. Navigating through your files has never been this easy and enjoyable. Our intuitive design ensures that both beginners and seasoned users can leverage the full power of our file management tools.
</p>

<div class="sz-18 mb-2 bold">Powerful File Editing </div>

<p>Unlock the full potential of your documents with File Titan's robust file editing features. Whether it's collaborating on a presentation, fine-tuning a spreadsheet, or creating a masterpiece with our document editor, we've got you covered.
</p>

<div class="sz-18 mb-2 bold">Collaborative Workspaces</div>

<p>Collaboration is at the core of File Titan. Seamlessly work together with colleagues, friends, or family members in real-time. Share ideas, make edits, and keep everyone on the same page with our collaborative workspaces.
</p>

<div class="sz-18 mb-2 bold"> Security & Privacy </div>

<p>Your files are precious, and so is your privacy. File Titan employs state-of-the-art security measures to ensure that your data is protected at all times. Rest easy knowing that your files are in safe hands.
</p>

<br />

<div class="sz-24 my-2"> How It Works </div>

<ul>
	<li>Sign Up: Create your File Titan account in a matter of minutes. </li>
    <li>Upload: Easily upload your files to your secure File Titan space. </li>
    <li>Edit & Collaborate: Leverage our powerful editing tools and collaborate with others in real-time. </li>
	<li>Share: Share your files effortlessly with customizable privacy settings. </li>

</ul>

<br />

<div class="sz-24 my-2"> Join the File Titan Community </div>

<p>Become a part of the File Titan community and experience the future of online file management. Whether you're a professional managing important documents or a creative soul expressing ideas through files, File Titan is here to elevate your digital experience.
</p>
<br />
<div class="sz-24 my-2">Contact Us </div>

<p>
Have questions or suggestions? We'd love to hear from you! Contact our support team at awwalmustapha18@gmail.com.
</p>

<p>Thank you for choosing File Titan – where file management meets simplicity! </p>


{%endblock%}