<input type='hidden' id='filepath' value='{{file.name}}'>

<div class='' style="">
    <div class='row position-fixed p-2 rounded' style="bacground-color: white;">
    <div id='feedba' class='col center'></div>
    </div>
    {% if allow%}
        <div class='row h-100'>
        <div class='col'>
        <form name='other' id='edo' hx-post='' onsubmit="accept()" hx-target='#feedba' hx-swap='innerHTML'>
            {%csrf_token%}
                <textarea id='editor' name='' class='border color-bg-white color-black container-fluid' style='border:none;wdth:100%;height:140vw' onclick="$('#msg').fadeOut()">{{file.openFile}}
                </textarea>
            <input name='wod' id='cov' type='hidden' value='{{file.openFile}}'>
            <input name='word' id='ov' type='hidden'>
        </form>
        </div>
        </div>   
    <div class='navbar fixed-bottom color-bg-s' style='z-index:10000000'>
        <div class='rw'>
                <button id='ssav' onclick='chckM()' form='edo' class='btn
                btn-link color-white color-dark-white' style=''>
                    <i class='fas fa-save'></i>
                        save
                </button>
        </div>
        <div class='rw'>
                <button class='btn btn-link color-white color-dark-white' onclick="$('#import').fadeToggle()">
                    <i class='fas fa-file-import'></i>
                        import
                </button>
        </div>
        {%comment%}
        <div class='row'>
            <div class=''>
                <button class='normal mesize white' hx-get="{% url 'ShellUrl' file.id %}" hx-target='#feedback'>
                    <i class='fas fa-play'></i><div class='col'>
                        run
                    </div>
                </button>
            </div>
        </div>
        {%endcomment%}

    </div>
    {%else%}
    <div class='container-fluid border color-bg-white color-black' style='border:none;width:100%;height:150vw;overflow:scroll'>
    {{file.openFile}}
    </div>
    {%endif%}
    
     <div class="modal sz-18 " id="import" style="z-index:4000;width:100%;heiht:170px;tp:20%;background-color:rgba(300,300,300,0.9
)">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content no-border" syle="top:50px;width:100%">
  
            <div class='modal-content bg-light p-3'>
                <div class='sz-18 row'>
                    <div class='col'>
                        Import File
                    </div>
                </div>
   
                <form method='post' action="{%url 'ImportFileUrl' %}" enctype="multipart/form-data">
                    {%csrf_token%}
                    
                    <input type='hidden' class='' name='filename' value='{{file.id}}'>
                    
                    <div class='row my-2'>
                    <div class='col'>
                        <input class='form-control' name='importfile' type='file' style='height:1.2cm'>
                    </div>
                    </div>

                    <div class='row my-2'>
                    <div class='col'>
                        <button class='btn btn-block color-bg-s color-white w-100' style=''> import </button>
                    </div>
                    </div>
                </form>
            </div>
            </div>
        </div> 
</div>