<input type='hidden' id='filepath' value='{{file.name}}'>

<div class='container' style="">
    <div class='row'>
    <div id='feedba' class='col'></div>
    </div>
    {% if allow%}
        <div class='row'>
        <div class='col'>
        <form name='other' id='edo' hx-post='' onsubmit="accept()" hx-target='#feedba' hx-swap='innerHTML'>
            {%csrf_token%}
                <textarea id='editor' name='' class='container shadow color-bg-white' style='border:none;width:100%;height:150vw' onclick="$('#msg').fadeOut()">{{file.openFile}}
                </textarea>
            <input name='wod' id='cov' type='hidden' value='{{file.openFile}}'>
            <input name='word' id='ov' type='hidden'>
        </form>
        </div>
        </div>   
    <div class='navbar fixed-bottom color-bg-p' stye=''>
        <div class='row'>
            <div class='col'>
                <button id='ssav' onclick='chckM()' form='edo' class='btn btn-link color-white' style=''>
                    <i class='fas fa-save'></i>
                    <div class='col'>
                        save
                    </div>
                </button>
            </div>
        </div>
        <div class='row'>
            <div class='col'>
                <button class='btn btn-link color-white' onclick="$('#import').toggleClass('show')">
                    <i class='fas fa-file-import'></i>
                    <div class='col'>
                        import
                    </div>
                </button>
            </div>
        </div>
        {%comment%}
        <div class='row'>
            <div class=''>
                <button class='normal mesize white' hx-get="{% url 'ShellUrl' file.id %}" hx-target='#feedback'>
                    <i class='fas fa-play'></i><div class='col'>
                        run
                    </div>
                </button>
            </div>
        </div>
        {%endcomment%}

    </div>
    {%else%}
    <div class='container shadow color-bg-white' style='border:none;width:100%;height:150vw;overflow:scroll'>
    {{file.openFile}}
    </div>
    {%endif%}
    
  
   <div id='import' class='container hide position-fixed' style='z-index:100000000;leftl:10px;top:50%;bottom:50%'>
        <div class='container'>
        <div class='sz-18 row'>
        <div class='col'>
            Import File
            </div>
        </div>
   
        <form method='post' action="{%url 'ImportFileUrl' %}" enctype="multipart/form-data">
            {%csrf_token%}
            
            <input type='hidden' class='' name='filename' value='{{file.id}}'>
            
            <div class='row'>
            <div class='col'>
                <input class='form-control' name='importfile' type='file' style='height:1.2cm'>
            </div>
            </div>

            <div class='row my-2'>
            <div class='col'>
                <button class='btn btn-block color-bg-s color-white' style=''> import </button>
            </div>
            </div>
        </form>
    </div> 
    </div>
</div>