{%load static%}
<input type='hidden' id='saveUrl' value="{%url 'SaveUrl' file.id%}" />
<input type="hidden" id="fileId" value="{{file.id}}" />
 
<div class='' style="">
    <div class='row position-fixed p-2 rounded' style="bacground-color: white;">
    <div id='feedba' class='col center'></div>
    </div>




    
 <input name='word' id='csrf' value={{csrf_token}} type='hidden'>


<div id="my-react" class=""><div class="spinner-border"></div></div>
    
     <div class="modal sz-18 " id="import" style="z-index:1000000;width:100%;heiht:170px;tp:20%;background-color:rgba(300,300,300,0.9
)">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content no-border" syle="top:50px;width:100%">
  
            <div class='modal-content bg-light p-3'>
                <div class='sz-24 color-p row'>
                    <div class='col'>
                        Import File
                    </div>
                </div>
   
                <form method='post' action="{%url 'ImportFileUrl' file.id %}" enctype="multipart/form-data">
                    {%csrf_token%}
                    
                    <input type='hidden' class='' name='filename' value='{{file.id}}'>
                    
                    <div class='row my-2'>
                    <div class='col'>
                        <input class='form-control' name='importfile' type='file' style='height:1.2cm'>
                    </div>
                    </div>

                    <div class='row my-2'>
                    <div class='col'>
                        <button class='btn btn-block color-bg-s color-white w-100' style=''> import </button>
                    </div>
                    </div>
                    
                    <div class='row my-2'>
                    <div class='col'>
                        <button class='btn btn-block btn-danger color-bg-s color-white w-100' style='background-color:red' type='button' onClick="$('#import').fadeOut()"> close window </button>
                    </div>
                    </div>
                </form>

            </div>
            </div>
        </div> 
</div>

<script type='text/babel' src="{%static 'js/src/editor.js'%}"></script>