<div class='container bpop border' id='add' style=''>

	<form  action="{%url 'CloneUrl' file.id%}" method='POST' hx-post="{%url 'CloneUrl' file.id%}" hx-target='#messageholder' hx-swap='innerHTML'>
		{%csrf_token%}
		<p class='black'> Select Directory to clone your file </p>
		<select name='foldername' class='form-control'>

			{%for folder in folder%}

			<option>{{folder.name}}</option>

			{%endfor%}

		</select>
		<div class='my-2'>
			<button class='btn color-bg-p color-white btn-block'>Select</button>
		</div>
	</form>
	<button class='btn btn-danger btn-block' style='' onclick="$('#add').fadeOut()"> close </button>
</div>