{%extends 'base.html'%}

{%block header%}

{%endblock%}


{%block content%}


{%load static%}
<style type="text/css" >
	hljs-name{
	color: yellow;
	}

	.editor{
	height:100%;
	font-size: 15px;
	position: fixd;
	tp: 180px;
	right: 0;
	bottom: 0;
	left: 0;

	}

	.fullscreen{
	position: fixed;
	height:100% ;
	top: 0px;
	bottom: 0;
	margin-bttom: 0px;
	width:100% !important;
	height: 100% !important;
	}

	.halfscreen{
	width:100%;height: 50%;overflow:scroll;
	}

	.error{
	font-size: 24px;
	background-color: red;
	color: white;
	}

	.wide{
		width: 5cm;
	}
	@media(max-width:700px){
		.setting{
			width:80%;
		}
	}
</style>


            
<div>
	<div class='navbar sticy-top' style='background-color: white;padding:2px'>
		<p class="insize black">{{file.name}}{%if file.edited %} <span class='passive'>branch</span> {%endif%}</p>
		<p>
			<a href=''>Refresh </a>
		</p>
		<p>
			<button class='normal pcolor' hx-get="{%url 'MenuUrl' %}" hx-target='#feedback'>
				shortcuts
			</button>
		</p>
	</div>
	<input type='hidden' id='filepath' value='{{file.name}}' >
	<div>
		<div id='feedback' class='' style='z-index:10000000000000'></div>

		{% if allow%}
			<div class='' style=':1000cm;hight:100cm'>
				<div class=''>
					<form name='other' id='edo' hx-post='' onsubmit="accept()" hx-target='#feedback'>
						{%csrf_token%}
						<div class='wap'>
							<div id='edit' name='wrd' class='edtor' style='font-sie: 15px;backgrond-color:#472d2d;clor:white ;'>{{file.opeFile}} </div>
						</div>
						<input name='wod' id='cov' type='hidden' value='{{file.openFile}}' >
				        <input name='word' id='ov' type='hidden' >
						<div class='navar fixed-bttom center'>

						</div>
					</form>
				</div>		
			</div>

		<div class='navbar fixed-bottom pbcolor cente' stye='jusify-content:center;align-items:center'>			
			<div>
			<button id='ssav' onclick='checkM()'  form='edo' class='normal white mesize' style=''>
				<i class='fas fa-save'></i> <div>save</div>
			</button>
			</div>

			<div>
			<button class='normal mesize white' onclick="$('#import').toggleClass('show')"> 
				<i class='fas fa-file-import'></i> <div>import</div></button>
			</div>

			<div>
			<button class='normal mesize white' hx-get="{% url 'ShellUrl' file.id %}" hx-target='#feedback'> <i class='fas fa-play'></i> <div>run</div>
			</button>
			</div>
		</div>
		
			{%else%}
				<div>
					<div id='editor_read' style='height:80%'>{{file.openFile}} </div>
				</div>
			</div>

			<div class='navbar fixed-bottom pbcolor center'>	
			<button class='button' hx-get="{% url 'ShellUrl' file.id %}" hx-target='#feedback'> <i class='fas fa-play'></i> <div class='desize'> Run File </div></button>
		</div>
			{%endif%}


		
		<div id='import' class='hide pop' style='background-color:white;z-index:100000000'>
			<div class='mesize black pcolor'>Import File </div>
			
			<form method='post' action="{%url 'ImportFileUrl' %}" enctype="multipart/form-data">
				{%csrf_token%}
				<input type='hidden' name='filename' value='{{file.id}}' >
				<p><input name='importfile' type='file'></p>
				
				<p><button class='bblack button desize' style='width:100%'> import </button> </p>
			</form>
		</div>
	</div>
</div>

<script>
	//ace.config.set('basePath',"{%static 'js'%}")
	//ace.config.set('themePath',"{%static 'js'%}")
	ace.config.set('modePath',"{%static 'js'%}")
	editor_read=ace.edit('editor_read')
	editor_read.setTheme('ace/theme/monokai');
	editor_read.session.setMode('ace/mode/python')
	editor_read.setReadOnly(true)
	//editor=document.getElementById('editor')
	function accept(){
	var editor=ace.edit('editor');
	code=editor.getValue();
	$('#ov').val(code)
	}

	function preview(){

	$('.edit').css('height','100%').toggleClass('fullscreen');
	}

	function che(){
	j=document.getElementById('Saved')
	v=document.body.contains(j)
	if (v){
	$('.Saved').fadeOut()
	}
	}

	function check(){
	setTimeout(che,5000)
	}

	$('#ssave').click(check)
</script>

<script type='text/babel' src="{%static 'js/react.js'%}" ></script>


{%endblock%}