<style>
    body {
        color: black
    }
    .input {
        color: black
    }
    input {
        color: black;
        border: 2px solid black;
        height: 1.2cm;
    }
    button {
        height: 1.2cm;
    }

    .change {
        background-color: red;
        color: white;
    }

    .highlight{
        background-color: var(--primary-color);
        color:white;
        border:none;
    }
</style>
<div class='color-bg-white'>
    {%if warning%}
    <p class='warning'>
        {{warning}}
    </p>
    {%endif%}
    <form method='POST' class='black' enctype="multipart/form-data" {%if title == 'create'%} action="{%url 'FolderFormUrl' %}" {%endif%}>
        {%csrf_token%}
        <input name='folderid' type='hidden' value='{{file.id}}'>
        <div class='color-black'>
            {%for f in form%}
            <div class='my-2 color-black'>
                {{f.label}}
            </div>
            <p>{{f.as_widget}} </p>
            {%endfor%}
        </div>
        <div class='m-2 color-black'>
            Privacy
        </div>
        <input type='hidden' id='privacy' name='privacy' />
        <div class='row my-3'>
            <div class='col '>
                <button id='public' class='pri p-2 center border rounded sz-16 w-100 highlight' type='button' onclick="ch('public')">
                    Public
                </button>
            </div>
            <div class='col'>
                <button id='private' class='pri p-2 center border rounded sz-16 w-100' type='button' onclick="ch('private')">
                    Private
                </button>
            </div>
            <div class='col'>
                <button id='author' class='pri p-2 center border rounded sz-16 w-100' type='button' onclick="ch('author')">
                    Authorize
                </button>
            </div>
        </div>

        <div class='hide my-3' id='password'>
            <p class='scolor' style='font-size:13px'>
                Password is neccessary if your folder is Authorize, Private Folder will be only accessible to you while Public Folders will be accessible to all
            </p>
            <p>
                Password:
                <div>
                    <input name='password' class='form-control' type='password' />
                </div>
            </p>
            <p>
                Confirm Password:
                <div>
                    <input name='confirm_password' class='form-control' type='password' />
                </div>
            </p>
        </div>
        <br />
        <div class='center my-3'>
            <button class='btn btn-block color-bg-t rounded color-white w-100 sz-16' style='color:white'>{{title}}</button>
        </div>
    </form>


    <script>
        function get() {
            c = $("input[name='privacy']").val()
            console.log(c)
        }

        function ch(x) {
            $('.pri').removeClass('highlight')
            $('#password').addClass('hide')
            $('#'+x).addClass('highlight')
            if (x == 'private') {
                $('#privacy').val('private')
            } else if (x == 'author') {
                $('#privacy').val('authorize');
                $('#password').removeClass('hide')
            } else {
                $('#privacy').val('public')
            }
        }
    </script>
</div>