<div id='menu' style='' class='rounded coor-bg-p bg-light;'>
    <div class="sz-14 color-p bold my-2">
        My Files
    </div>
    {%if warning%}
    <div class='warning mesize'>
        {{warning}}
    </div>
    {%endif%}
 <div >
    {%for folder in folders%}

<a href={{folder.get_absolute_url}} class='color-black sz-14 row my-2' >
        
        <div class="col-2">
        <i class='far fa-folder sz-16'></i>
        </div>
        <div class="col"> {{folder.name}} </div>
        
    </a>

    <div class='mx-1 color-black ml-3 hide' id="{{folder.name}}">
        {%for file in folder.file.all%}
        {%if file.edited %}

        {%else%}
        <div class='sz-14 m-2 row rounded color-bg-white p-2'>
            <a class='color-black' href="{{file.get_absolute_url}}">
                <i class='far fa-file'></i> </i>{{file.name}}
        </a>
    </div>
    {%endif%}
    {%endfor%}
</div>
</div>
{%endfor%}
</div>
<script>
    var sho=(x)=>{
        $('#'+x).fadeIn()
    }
    
</script>