<div class='my-2'>
	<hr>
<div>Open with </div>

<div class='row'><div class='col'><a href="{%url 'FileDetailViewTypeUrl' file.id 'video'%}"> Video Player </a></div></div>
<div class='row'><div class='col'><a href="{%url 'FileDetailViewTypeUrl' file.id 'audio'%}"> Audio Player </a></div> </div>
<div class='row'><div class='col'><a href="{%url 'FileDetailViewTypeUrl' file.id 'code'%}"> Text Editor </a></div></div>
<div class='row'><div class='col'><a href="{%url 'FileDetailViewTypeUrl' file.id
'image'%}"> Image Viewer </a></div></div>

</div>