{%extends 'base.html'%}
{%load static%}
{%block user%}
{%endblock%}
{%block content%}
<div class='mt-3'>

	<div class='row align-items-center p-2'>
		<div class='col-3 sz-24'>
			<img class='rounded-circle' src='{{profile.profile_photo.url}}' style='height:50px;width:50px;object-fit:cover'
			 >
			
		</div>

			<div class='col sz-24'>
 {{profile.user.username|title}}
		{% if profile.user == request.user %}
		<div class='w-100'></div>
				<a href="{%url 'ProfileEditUrl' %}" style='font-size:13px' > <i class='fas fa-pen'> </i> edit profile </a>
		{%endif%}
			</div>

	</div>

	{%comment%}
	<div class='row p-2 justify-content-center'>
		<div class='sz-12 col'><span class='passive'> Date Joined</span> {{profile.date_joined|date}} </div>
	</div>
	{%endcomment%}

	{%if profile.bio%}
	<div class='row m-2'>
		 <div class=' col'>{{profile.bio}}</div>
	</div>
	{%endif%}
	<br />
	<div class='row sz-12 my-3 py-3 hide'>
	  <div class='col center'> <i class='fas fa-music sz-30 color-p'></i><br/>music</div>
	  	  <div class='col center'> <i class='fas fa-video sz-30 color-t'></i><br/>video</div>
	  	  	  <div class='col center '> <i class='fas fa-image sz-30 color-p'></i><br/>images</div>
	  	  	  	  <div class='col center'> <i class='fas fa-file sz-30 color-t'></i><br/>files</div>
	</div>
	
	<div class="row">
	<div style='backround-color:purple' class='borlder center color-bg-t p-2 rounded w-100 shdow color-white col col-sm mx-2'>
	 <a href="{%url 'OpenEditorUrl' %}" >Open Editor </a>
	</div>
		<div style='background-clor:red;colo:red' class='borer center p-2 rounded w-100 shdow color-white color-bg-p col col-sm mx-2'>
	  Upgrade to Premium
	</div>
</div>
	<br />
	<div class="sz-20 my-2 color-p r"> Memory Usage </div>
	<div class="d-flex justify-content-center">
<canvas class='color-black w-100 g-light container'  id="pieChart" width="300" height="300" style="max-height:300px;max-width:300px"></canvas>
  	</div>
  	<div class="sz-14 center">{{profile.size_in_percent}}% used</div>

	<div class="hide">
	<div class="w-100 color-bg-t rounded" style="height:25px;background-color:#c1c1c1"></div>
	<div class="color-bg-p rounded center color-white  sz-12 align-items-center" style="margin-top:-25px;height:25px;width:{{profile.size_in_percent}}%;max-width:100%; background-color:red">
<div style='margin-top:5px' class='position-absolute center row w-100' style='max-width:100%'>
 <div class='col center'> {{profile.size_in_percent}}% used</div>
  </div>
	</div>
	<div class="sz-12 hide">{{profile.size_in_percent}}% used</div>
	</div>


	<br class='color-bg-grey' />
	{% if not profile.folder.all %}
	<br/>
	<div class='row align-items-center'>
	<div class='col-sm-12 my-2 center col-md-6'>
	    <p class='sz-24'> You currently have no directory </p>
		<a class='btn  btn-block color-bg-p color-white sz-18' href="{%url 'FolderFormUrl' %}" style='color:white'>Click to create</a>
	</div>
	    <div class="col-sm-12 my-3 center col-md-6 order-first" style="">
            <img class="img-fluid center" src="{%static 'images/file.png'%}" alt="file image" style='objet-fit:contain'/>
        </div>
	    
	</div>

	{%else%}
<br />
<div class='row align-items-center'>
    <div class='col sz-20 color-p'>Directories</div>
    {%if profile.folder.all > 3 %}
    <div class='col sz-12' style='text-align:right'><a href='' class='rounded p-2 border color-bg-silver' style='background-color:#e1e1e1'>view all </a></div>
    {%endif%}
</div>

<div class="row m-md-2  m-2">
    {%include 'FshareTemplate/folderlist.html' with folders=profile.folder.all|slice:':3' %}
</div>

    {%endif%}

    {%if not branches %}

    {%else%}
 <br />
	<div class='sz-18 my-2 color-p'>Branches</div>
	<div class="row m-md-2 p-2 ">
    {%include 'FshareTemplate/file.html' with originalFile=branches %}
    </div>
    {%endif%}

{%if profile.folder_like.all%}
<br />
<div class='row align-items-center'>
    <div class='col sz-20 color-p'>Favourites</div>
        {%if profile.folder_like.all > 3 %}
    <div class='col sz-12' style='text-align:right'><a href='' class='rounded p-2 border color-bg-silver' style='background-color:#e1e1e1'>view all </a></div>
    {%endif%}
</div>

<div class="row m-2">
{%include 'FshareTemplate/folderlist.html' with folders=profile.folder_like.all|slice:':3' %}
</div>
{%endif%}
<br /> 
<div class='row align-items-center'>
    <div class='col sz-20 color-p'>Recent Activities</div>
        {%if activity > 7 %}
    <div class='col sz-12' style='text-align:right'><a href='' class='rounded p-2 border color-bg-silver' style='background-color:#e1e1e1'>view all </a></div>
    {%endif%}
</div>

<div class='border rounded m-2 p-2'>
  {%if activity%}
{%for activity in activity|slice:'7'%}
<div class='row border-bottom p-2'>
<div class=' col-12'>
  {{activity.body}}
</div>
  <div class='col-12 color-grey sz-12'>
    {{activity.datetime|timesince}} ago
  </div>
</div>
{%endfor%}
{%else%}
<p class='center sz-18'> no previous activities</p>
{%endif%}
</div>

</div>
<script>
var used = {{profile.size_in_percent}}
var unused = 100
var to360 = used/unused * 360
var un360 = 360 - to360
  document.addEventListener('DOMContentLoaded', function () {
  drawPieChart();
});

function drawPieChart() {
  var canvas = document.getElementById('pieChart');
  var context = canvas.getContext('2d');
 
  var data = [to360,un360]; // Example data values
  var total = data.reduce(function (acc, value) {
    return acc + value;
  }, 0);

  var normalizedData = data.map(function (value) {
    return (value / total) * 100;
  });

  var colors = ['red', '#F5F5F5']; // Example colors
  var startAngle = 0;

  for (var i = 0; i < normalizedData.length; i++) {
    var sliceAngle = (2 * Math.PI * normalizedData[i]) / 100;

    context.beginPath();
    context.arc(canvas.width / 2, canvas.height / 2, canvas.width / 3, startAngle, startAngle + sliceAngle);
    context.fillStyle = colors[i];
    context.fill();

    startAngle += sliceAngle;
  }
}

drawPieChart() 
</script>
{%endblock%}

