{%extends 'base.html'%}
{%block content%}
<div class='box'>
<p class='bold' style=''><img class='circle' src='{{profile.profile_photo.url}}' style='height:35px;width:35px;border:black' > <b>{{profile.user.username|title}}</b> 
{% if profile.user == request.user %}
	<a href="{%url 'ProfileEditUrl' %}" style='font-size:13px' > <i class='fas fa-pen'> </i> edit profile </a>
{%endif%}
<div class='mesize'><span class='passive'> Date Joined</span> {{profile.date_joined|date}} </div>
 <div class='mesize'>{{profile.bio}}</div>


 </p>

<br>
<p class='insize pcolor'>Directories</p>
<br style="line-height:8px">
{% if not profile.folder.all %}
<p class='insize ceter' style='color:red'> No Directory Available </p>
{%endif%}
{% for directory in profile.folder.all %}
<p style='padding:0px'>
{%if directory.parent%}
{%else%}
<div class='mesize'><a href="{{directory.get_absolute_url}}" class='normal black' ><i class='fas fa-folder'></i> <span class='bold'> {{directory.name|title}} </span></a>
	{% if request.user.is_authenticated %}
		{%if directory.owner == profile %}
	<span style='display:inline-block;float:right;padding:4px'>
	<a class='padd mesize' style='margin: 10px;background-color:ed;color:red;' href="{%url 'FolderDeleteUrl' directory.id%}" > Delete </a>
	</span>
{%endif%}
{%endif%}
<div class='desize'> <span class='passive'>created</span> {{directory.date_created}} | <span class='passive'>last updated </span>{{directory.last_updated}}
</div>
<hr>
{%endif%}
</p>
{%endfor%}
<p class='insize pcolor'>Branches</p>
<br style="line-height:8px">

{%if not branches %}
<p class='insize ceter' style='color:red'> No branches Available </p>
{%endif%}

{% for branch in branches %}
<p style='padding:0px'>
<div class='mesize'><a href="{{branch.get_absolute_url}}" class='normal black' > {{branch.name}} </a>
<div class='desize'> <span class='passive'>created</span> {{branch.date_created}} | <span class='passive'>last updated </span>{{branch.last_updated}}
</div>

 </div>
</p>
<hr>
{%endfor%}



</div>
{%endblock%}
{%include 'FshareTemplate/file.html' with originalFile=branches prof=profile file=file%}
