{%extends 'base.html' %}

{%block content%}
<style>
.form-conrol{
	width:80%;
}
input{
	font-size: 18px;
}
</style>

<div class=''>
<h2 class='color-p sz-24 mb-3'>Edit Profile </h2>
<form method='post' enctype="multipart/form-data">
	{%csrf_token%}
		<div class="mb-3">
		<div class='row my-1'>
                                <div class='col sz-16 bold color-black'>
                                    Username
                                </div>
                            </div>
                             <div class='row my-1' >
                                <div class='col col-sm'>
                                    <input class='form-control' name='username' value={{profile.user.username}} >
                                </div>
                            </div>
</div>

{% for field in form %}
                        

                             {{field.errors}}
                             <div class="mb-3">
                            <div class='row my-1'>
                                <div class='col sz-16 bold color-black'>
                                    {{field.label}}
                                </div>
                            </div>
                             <div class='row my-1' >
                                <div class='col col-sm'>
                                    {{ field.as_widget }}
                                </div>
                            </div>
                            	</div>
                    {% endfor %}

<p> <button class='btn btn-block w-100 color-bg-p color-white sz-18'>Save changes</button></p>
</form>
</div>
{%endblock%}
