{%extends 'base.html' %}
{%block content%}
<div id='box' class=''>

	<h4 class='sz-18 color-p my-3'>Search Results </h4>
		
	{%if result_users%}
	<div class='row m-2 bold'>
	  Profiles found
	</div>
	<div class="row p-2">
	{%for profile in result_users%}
	<div class="col-md-4 col-sm">
		<a href="{%url 'ProfileUrl' profile.id %}" class='row no-decoration align-items-center p-2'>
		<div class='col-2 col-md-2 sz-14'>
			<img class='rounded-circle' src='{{profile.profile_photo.url}}' style='height:30px;width:30px;object-fit:cover'
			 >
			
		</div>

			<div class='col sz-14'>
 {{profile.user.username|title}}
			</div>

	</a>
</div>
	{%endfor%}
</div>
	
	{%endif%}
	<br />
	<div class=''>
		
		<div class=''>
			{% if result_folders%}
				<div class='row m-2 bold'>
	  Folders found
	</div>
	<div class='row p-2'>
	            {%include 'FshareTemplate/folderlist.html' with folders=result_folders %}
	            </div>
						{%endif%}
		</div>
	</div>


	<div class=''>
		
		<div class=''>
			<br style="">
			{% if result_files%}
				<div class='row m-2 bold'>

	  Files found

	</div>
			<div class='row p-2'>
             {%include 'FshareTemplate/file.html' with originalFile=result_files %}
            </div>
				{%endif%}
		</div>
	</div>
	{%if result_files and result_folders and result_users is None %}
		<h3>No Result Found </h3>
	{%endif%}
</div>

{%endblock%}