
<div class='' id='shell'>
	<hr>
<div id='shel' style='position:absolute;z-index:10000;background-color:white;padding:7px;width:90%;font-family: monospace; font-size: 16px;'>

<div class='shellwindow insize pcolor'>Shell Window </div>

-------------------------
<div class='' style='word-wrap:break-word;width:90%'>
{{output}}
</div>
-------------------------
<br>
<button class="button" onclick="$('#shell').fadeOut()" style='background-color:red'> close window</button>
</div>
</div>
