{%extends 'base.html'%}
{%block content%}

<div class='container' style=''>
<div class='row my-2'><div class='col'>Are you sure you want to log out</div></div>
<form method='post'>
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <div class='row my-3'>
    <div class='col-6'>
  <button class='btn btn-danger btn-block' style="background-color: red;" type="submit">Yes</button></div>
  <div class='col-6'> <button class='btn btn-block' onclick="$(history).back()">No</button></div>
</form>
</div>
{%endblock%}